---
layout: main
title: LUNAR LINUX
---

{% include navbar.html %}
<header class="plx h-100 z-1" style="">
    <section class="plx-back-1 bgi-repeat-none bgi-centercenter mb-10" style="background-image:url(assets/lander-ship.svg);">
        </section>
    <section class="plx-center bgi-repeat-none bgi-centerbottom bgi-size-100" style="background-image:url(assets/lander-bg.svg);">
        </section>
    <section class="plx-center flx-column-centertop plx-center pt-10">
        <h1 class="txf-vector pb-3">LUNAR LINUX</h1>
        </section>
    </header>

<main class="pos-rel bt-solid bt-wt-2 brc-gry90">
<section class="pv-5 ph-1 flx-column-centertop bgc-gry10">
        <a href="" class="tx-fs-3 txc-gry90 tx-dec-none txh-dec-line pa-1 ba-solid brc-gry90 brw-1 brch-gry10 bgch-gry80 txch-gry10">DOWNLOAD ISO
        </a>
    <p class="">
        lunar-1.8.0-testing-20220804-x86_64.iso<br />
        sha256: <br />
        c26c065512805574cad8381f22658ef35180b022d732f22b9cbbbcde54bb23de
        </p>
    </section>
    
{% include_relative about.html %}
</main>
{% include_relative contact.html %}
