<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{  page.title }}</title>  <!-- favicon -->
  <link rel="icon" type="image/svg+xml" href="assets/lander-ship.svg">
    <link rel="stylesheet" href="assets/bildr.css">
    <link rel="stylesheet" href="assets/bildr-bgc-s33l26.css">
    <link rel="stylesheet" href="assets/bildr-txc-s33l26.css">
    <link rel="stylesheet" href="assets/bildr.css">
<style>
@font-face {
  font-family: 'Vector';
  src: url('assets/Vector.ttf');
  }
.txf-vector {
  font-family: 'Vector', sans-serif;
  }
.a-link a:link {
  color: #8080ff;
  text-decoration:none;
}
.a-link a:hover {
  color: #a0a0ff;
  text-decoration:underline;
}
</style>
  </head>
  <body class="bgc-gry10 txf-vector">
       {{ content }}
  </body>
</html>
